<!DOCTYPE html>
<html>
    <head>
        <style>
            .button {
              display: inline-block;
              padding: 15px 25px;
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #333;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
            }

            .button:hover {background-color: #222}

            .button:active {
              background-color: #222;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
            }
        </style>
    </head>
    <body style="background-color:#B34154">
        <table style="width:100%">
            <tr>
                <td style="text-align:center;">
                    <h2>
                        Do you want see the list of students?
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <%= button_to "Click Here", user_studentes_path, method: :get, :class => "button" %>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="text-align:center;">
                        OR
                    </h1>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <h2>
                        Do you want see the list of professors?
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <%= button_to "Click Here", user_professores_path, method: :get, :class => "button" %>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="text-align:center;">
                        OR
                    </h1>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <h2>
                        Do you want see the list of administrators?
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <%= button_to "Click Here", user_admins_path, method: :get, :class => "button" %>
                </td>
            </tr>
        </table> 
    </body>
</html>
