<html>
    <head>
    </head>
    <body style="background-color:#B34154">
        <table style="width:100%">
            <tr>
                <td colspan="2" style="text-align:center;">
                    <h3>
                        Welcome to the Cyber Challenge Platform
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <h2>
                        Do you want login?
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <input type="button" onclick="location.href='http://google.com';" value="With us" />
                </td>
                <td style="text-align:center;">
                    <input type="button" onclick="location.href='https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1#';" value="With G-mail" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <h1>
                        OR
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <h2>
                        Do you want sign in?
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <input type="button" onclick="location.href='http://google.com';" value="With us" />
                </td>
                <td style="text-align:center;">
                    <input type="button" onclick="location.href='https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1#';" value="With G-mail" />
                </td>
            </tr>
        </table> 
    </body>
</html>
