<html>
    <head>
    </head>
    <body style="background-color:#B34154">
        <table style="width:100%">
            <tr>
                <td style="text-align:center;">
                    <h2>
                        Do you want sign in as a student?
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <%= button_to "Click Here", signupStudente_path, method: :get %>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="text-align:center;">
                        OR
                    </h1>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <h2>
                        Do you want sign in as a professor?
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <%= button_to "Click Here", signupStudente_path, method: :get %>
                </td>
            </tr>
        </table> 
    </body>
</html>
