<ul>
    <br><br><br>
    <li style="text-align: center;" ><%= link_to "Manage existing questions", questions_path %></li>
    <br>
    <li style="text-align: center;" ><%= link_to "Create a new question", newQuestion_path %></li>
</ul>
