<br><br><br>
<div style="text-align: center">
    <h2>What do you want to do?</h2>
</div>
<ul>
    <br><br>
        <li style="text-align: center;" ><%= link_to "Go to training test history", histories_path %></li>
        <br>
        <li style="text-align: center;" ><%= link_to "Do a new casual training test", newCasual_path %></li>
</ul>
