<h1>OTP for the exam</h1>

<p>Hi <%= @user.name %> <%= @user.surname %>,</p>

<p>
You are one of the Cyber Challenge competition partecipants. The OTP that you will use for the exam is this:
</p>

<p><%= @otp %></p>

<p>
Remember that you can use this code only one time, then it will expire.
</p>

<p>
If you want to give up your right to partecipate you can do this on the "Competition" page of the platform.
</p>
