<ul>
    <br><br><br>
    <li style="text-align: center;" ><%= link_to "Enable/Disable the competition subscribing and giving up", activeSubscribePage_path %></li>
    <br>
    <li style="text-align: center;" ><%= link_to "Enable/Disable the exam", activeExamPage_path %></li>
</ul>
