<ul>
    <br><br><br>
    <li style="text-align: center;" ><%= link_to "Manage survey structure / See survey results", manageSurvey_path %></li>
    <br>
    <li style="text-align: center;" ><%= link_to "Enable/disable the survey", activeSurveyPage_path %></li>
</ul>
