<% if session[:administratorPasswordSbagliata] == "1" %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains 1 error.
        </div>
        <ul>
            <li>The necessary password to create a new administrator user is uncorrect</li>
        </ul>
    </div>
<% end %>

<% if session[:giaPresoAdmin] == "1" %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains 1 error.
        </div>
        <ul>
            <li>Username has already been token</li>
        </ul>
    </div>
<% end %>

<% if @userAdmin.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains <%= pluralize(@userAdmin.errors.count, "error") %>.
        </div>
        <ul>
        <% @userAdmin.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>
