<% if session[:giaPresoStudente] == "1" %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains 1 error.
        </div>
        <ul>
            <li>Username has already been token</li>
        </ul>
    </div>
<% end %>

<% if @userStudente.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains <%= pluralize(@userStudente.errors.count, "error") %>.
        </div>
        <ul>
        <% @userStudente.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>
