<ul>
    <br><br><br>
    <li style="text-align: center;" ><%= link_to "Global classification based on training stats", trainingClassificationSelectYear_path %></li>
    <br>
    <li style="text-align: center;" ><%= link_to "Competition partecipants' classification", partecipantsClassificationSelectYear_path %></li>
    <br>
    <li style="text-align: center;" ><%= link_to "Post-exam classification", postExamClassificationSelectYear_path %></li>
    <br>
    <li style="text-align: center;" ><%= link_to "Winners' classification", winnersClassificationSelectYear_path %></li>
</ul>
